<body><h2>Weather near you </h2>

<div class="container form-style-9">
  <label for="city" class="title1">City: </label>
  <ul>
    <li>
       <input [(ngModel)]="city" type="text" name="city" id="city" class="field-style field-split align-left" />
        <button (click)="getWeather()" class="field-style field-split align-right" >New Request</button>
    </li>
  </ul>
</div>

<img
  *ngIf="icon"
  src="http://openweathermap.org/img/wn/{{ icon }}@4x.png"
  alt=""
/>

<div *ngIf="main">
  <div>
    {{ description }} with a temperature of {{ main.temp }}°C and a feelsLike {{ main.feelsLike }}°C.
  </div>
</div>
</body>