<h1>temperatures works!</h1>
<div class="container">
      <h1 class="title1">le formulaire</h1><br>
      <form [formGroup]="formulaireTemperature" (ngSubmit)="getCityCoord()" class="form-style-9">
        <ul>
          <li>
            <input class="field-style field-split align-left" id="city-name" type="text" formControlName="ville" placeholder="City name: Exemple Paris">
            <input class="field-style field-split align-right" id="tempForm" type="number" formControlName="tempForm" placeholder="Temperature (in °C): Exemple: 12">
          </li>
          <li>
            <input class="field-style field-split align-left" id="temperatureMinForm" type="number" formControlName="temperatureMinForm" placeholder="Temperature minimum (in °C): Exemple: 9">
            <input class="field-style field-split align-right" id="temperatureMaxForm" type="number" formControlName="temperatureMaxForm" placeholder="Temperature maximal(in °C): Exemple: 16">
          </li>
          <li>
            <input class="field-style field-split align-left" id="pressureForm" type="number" formControlName="pressureForm" placeholder="Pressure: Exemple: 13">
            <input class="field-style field-split align-right" id="humidityForm" type="number" formControlName="humidityForm" placeholder="Humidity: Exemple: 35">
          </li>
          <li>
            <input class="field-style field-split align-left" id="sea_levelForm" type="number" formControlName="sea_levelForm" placeholder="Sean Level: Exemple: 100">
            <input class="field-style field-split align-right" id="grnd_levelForm" type="number" formControlName="grnd_levelForm" placeholder="Grand level: Exemple: 110">
          </li>
          <li>
            <input class="field-style field-split align-left" id="dateReleve" type="datetime-local" formControlName="dateReleve" placeholder="Date Releve">
            <input class="field-style field-split align-right" type="submit" class="submit" value="Submit">
          </li>
        </ul>
      </form >
</div>

<div class="table-wrapper">
        
  <table class="fl-table">
      <thead>
          <tr>
              <th>id</th>
              <th>Country</th>
              <th>City Name</th>
              <th>Longitude</th>
              <th>Latitude</th>
              <th>Temperature</th>
              <th>Feels like</th>
              <th>Date relevé</th>
              <th>Action</th>
          </tr>
      </thead>
      
      <tbody *ngFor="let temperature of temperatures | paginate: { itemsPerPage: 10, currentPage: p }">
          <tr>
             <td>
                  <a routerLink="/tempDetail/{{ temperature.id }}">
                  {{ temperature.id }}
                  </a>
              </td>
              <td>{{ temperature.ville?.countryName }}</td>
              <td>{{ temperature.ville?.cityName }}</td>
              <td>{{ temperature.ville?.longitude }}</td>
              <td>{{ temperature.ville?.latitude }} </td>
              <td>{{ temperature.temp }} °C</td>
              <td>{{ temperature.feelsLike }} °C</td>
              <td>{{ temperature.dateReleve }}</td>
              <td>
                  <button type="button" class="delete outer" title="Delete city"
                      (click)="delete(temperature)"> 
                      <div class="inner">
                          <label class="labeldelete">Delete   </label>
                      </div>
                  </button>
               </td>
      </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

</div>

