<div *ngIf="temperature">
    <h2> The weather data recorded for  {{ temperature.ville?.cityName  }} ({{ temperature.ville?.countryName}}) details</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Date of collection</th>
                    <th>Temperature</th>
                    <th>Felted</th>
                    <th>Temperature max</th>
                    <th>Temperature min</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                    <th>Sea Level</th>
                    <th>Grand level</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ temperature.id }}</td>
                    <td>{{ temperature.dateReleve }}</td>
                    <td>{{ temperature.temp }} °C</td>
                    <td>{{ temperature.feelsLike }} °C</td>
                    <td>{{ temperature.temperatureMax }} °C</td>
                    <td>{{ temperature.temperatureMin }} °C</td>
                    <td>{{ temperature.pressure }}</td>
                    <td>{{ temperature.humidity }}</td>
                    <td>{{ temperature.sea_level }}</td>
                    <td>{{ temperature.grndLevel }}</td>
                    <td>{{ temperature.ville?.latitude }}</td>
                    <td>{{ temperature.ville?.longitude }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>Date de releve</th>
                    <th>temperature</th>
                    <th>Ressenti</th>
                    <th>Temperature max</th>
                    <th>Temperature min</th>
                    <th>Pression</th>
                    <th>Humidite</th>
                    <th>niveau de mer</th>
                    <th>grand level</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div><span>id: </span>{{ temperature.id }} </div>
    <div class="form-style-9">
        <label for="temperature" class="title1">Derniere température enregisrer: </label>
        <ul><li>
        <input type="text" [(ngModel)]="temperature.temp" name="temperature" id="temperature" class="field-style field-split align-left">
    </li><li>
        <button type="button" (click)="saveTemperature()" class="field-style field-split align-left">Update last temp</button>
        <button type="button" (click)="goBack()" class="field-style field-split align-right">Go back</button>
    </li>
    </ul>
    </div>
</div>
