<body>
    <h2>My WorldCities</h2>
    <div class="container">
        <p>Add new city</p> 
        <form [formGroup]="cityForm" (ngSubmit)="parseCityValue()">
            <div class="row">
                <div class="col-25"> 
                    <label > City name </label> 
                </div>
                <div class="col-75">
                    <input id="city-name" type="text" formControlName="nomVille" required name="" placeholder="Exemple Paris"/>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="submit" value="Submit">
            </div>
        </form>
    </div>

    <div class="table-wrapper">
        
        <table class="fl-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Country</th>
                    <th>City Name</th>
                    <th>ASCII Code</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Norme ISO</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody *ngFor="let city  of cities | paginate: { itemsPerPage: 10, currentPage: p }">
                <tr>
                   <td>
                        <a routerLink="/cityDetail/{{ city.id }}">
                        {{ city.id }}
                        </a>
                    </td>
                    <td>{{ city.countryName }}</td>
                    <td>{{ city.cityName }}</td>
                    <td>{{ city.cityAscii }}</td>
                    <td>{{ city.latitude }} </td>
                    <td>{{ city.longitude }} </td>
                    <td>{{ city.normeIso }}</td>
                    <td>
                        <button type="button" class="delete outer" title="Delete city"
                            (click)="deleteCity(city)"> 
                            <div class="inner">
                                <label class="labeldelete">Delete   </label>
                            </div>
                        </button>
                     </td>
            </tbody>
        </table>
        
    </div>
    <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

</body>

