<body>
    <nav>
        <ul>
            <h1>{{ title }}</h1>
            <li><a routerLink="/worldCities">WorldCities</a><br>
            <li><a routerLink="/temperatures">Temperatures</a>
            <li><a routerLink="/marqueurs">The Markers</a>
            <li><a routerLink="/map">WorldMap Weathers</a>
        </ul>   
    </nav><br>

    <div class="cities">

        <a *ngFor="let city  of cities" routerLink="/cityDetail/{{ city.id }}">
            {{city.cityName}}
        </a>
    </div>
    <app-city-search class="recherche"></app-city-search>


    <app-show-weather></app-show-weather>
    <router-outlet></router-outlet>
    <!-- <app-map-box></app-map-box> -->

</body>
