<body>
<nav>
    <ul>
        <h1>{{ title }}</h1>
        <li><a routerLink="/worldCities">WorldCities</a><br>
        <li><a routerLink="/temperatures">Les Temperatures</a>
        <li><a routerLink="/marqueurs">Les Marqueurs</a>
        <li><a routerLink="/map">WorldMap Weather</a>
    </ul>   
</nav><br>

<div class="cities">

        <a *ngFor="let city  of cities" routerLink="/cityDetail/{{ city.id }}">
            {{city.cityName}}
        </a>
    </div>
<app-city-search class="recherche"></app-city-search>

 <app-show-ip></app-show-ip>
<app-show-weather></app-show-weather>
<router-outlet></router-outlet>
<!-- <app-map-box></app-map-box> -->

</body>
